
html {
  background: url('./images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.zoom-area {
    border: 1px solid red;
    width: 30%;
    top: 118px;
    position: relative;
    height: 100vh;
    display: inline-block;
}

.enter-transition {
  animation: Enter-transition .5s linear;
  -webkit-animation: Enter-transition .5s linear;
}

.exit-transition {
	animation: Exit-transition .5s linear;
	-webkit-animation: Exit-transition .5s linear;
}

@-webkit-keyframes Exit-transition {
	from {
		display: block;
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
	to {
		display: none;
		-webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        transform: scale(.1);
	}
}

@keyframes Exit-transition {
	from {
		display: block;
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
	to {
		display: none;
		-webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        transform: scale(.1);
	}
}  

/* Here we have Enter-transition */

@-webkit-keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}

@keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}
