/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

html {
  background: url('./images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.zoom-area {
    border: 1px solid red;
    width: 30%;
    top: 118px;
    position: relative;
    height: 100vh;
    display: inline-block;
}

.enter-transition {
  animation: Enter-transition .5s linear;
  -webkit-animation: Enter-transition .5s linear;
}

@-webkit-keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}

@keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}
