// Transitions

@mixin enter-transition {
  animation: Enter-transition .5s linear;
  -webkit-animation: Enter-transition .5s linear;
}

@mixin exit-transition {
	animation: Exit-transition .5s linear;
	-webkit-animation: Exit-transition .5s linear;
}

/* EXIT-transition keyframe */
@-webkit-keyframes Exit-transition {
	from {		
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
	to {
		-webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        transform: scale(.1);
	}
}

@keyframes Exit-transition {
	from {
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
	to {
		-webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        transform: scale(.1);
	}
}  

/* ENTER-transition keyframe */
@-webkit-keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}

@keyframes Enter-transition {
  from { 
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
  }
  to { 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
  }
}

